<%- include("./partials/head.ejs") %>

<nav>
    <div class="nav-wrapper">
        <img src="" class="img-responsive" alt="">
        <button class="menu-icon">menu</button>
    </div>
</nav>

<div class="content-wrapper">
    <section class="">
        <h1>Digitale Werkplek</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum molestiae eveniet culpa rem adipisci aperiam rerum. Corporis itaque nesciunt minima nemo accusamus ipsam veniam, fugiat doloribus deleniti, natus totam ducimus.</p>
        <a href="">Services</a>
    </section>

    <div class="divider-graphic"></div>

    <section class="list-of-pros">
        <h2>Voordelen</h2>
        <ul>
            <li class="list-item"><span>Check-icon</span><p>Pro-actief werkplekbeheer & monitoring</p></li>
            <li class="list-item"><span>Check-icon</span><p>Solide backups</p></li>
            <li class="list-item"><span>Check-icon</span><p>Hardware [ as a service ]</p></li>
            <li class="list-item"><span>Check-icon</span><p>Microsoft-licenties</p></li>
            <li class="list-item"><span>Check-icon</span><p>Security - anti-virus & anti-ransomware</p></li>
        </ul>
    </section>

    <section class="service-contracts">

        <ul class="nav nav-tabs">
            <% selectedContracts.forEach(contract => { %>
                
                <li class="nav-item">
                    <a href="#" class="nav-link active" aria-current="page">Basic</a>
                    <div class="desktop-contract-wrapper">
                        <div class="contract-info-wrapper">
                            <p class="contract-price"><%- contract.list_price %></p>
                            <p class="price-info"><%- contract.price_unit %></p>
                        </div>
                        <a href="#">Lees meer</a>
                    </div>
                </li>
            <% }) %>
        </ul>

        <!-- Here goes buttons for switching contracts -->

		<!-- Basic -->
		<div class="table-responsive">
			<table class="table table-primary">
				<thead>
					<tr>
						<th scope="col">Activiteit</th>
						<th scope="col">---</th>
						<th scope="col">---</th>
					</tr>
				</thead>
				<tbody>
					<% contract_basic.forEach(activity => { %>
						<% activityTranslations.data.forEach(activityTranslation => { %>
							<% if (activity.activities_id === activityTranslation.activities_id && activityTranslation.languages_code === language) { %>
								<tr>
									<td><%- activityTranslation.title %></td>
									<td>Tooltip</td>
									
									<% if (activity.charged_minutes === 0) { %>
										<td><img src="../icons/Check_icon.svg" alt="rondje met vinkje er in."></td>
									<% } else { %>
										<td><img src="../icons/X_icon.svg" alt="rondje met kruisje er in."></td>
									<% } %>
								</tr>
							<% } %>
						<% }) %>
					<% }) %>
					
					
					
				</tbody>
			</table>
		</div>

		<!-- Premium -->
		<div class="table-responsive">
			<table class="table table-primary">
				<thead>
					<tr>
						<th scope="col">Activiteit</th>
						<th scope="col">---</th>
						<th scope="col">---</th>
					</tr>
				</thead>
				<tbody>
					<% contract_complete.forEach(activity => { %>
						<% activityTranslations.data.forEach(activityTranslation => { %>
							<% if (activity.activities_id === activityTranslation.id) { %>
								<tr class="">
									<td><%- activityTranslation.title %></td>
									<td>Tooltip</td>
									<% if (activity.charged_minutes === 0) { %>
										<td><img src="../icons/Check_icon.svg" alt="rondje met vinkje er in."></td>
									<% } else { %>
										<td><img src="../icons/X_icon.svg" alt="rondje met kruisje er in."></td>
									<% } %>
								</tr>
							<% } %>
						<% }) %>
					<% }) %>
				</tbody>
			</table>
		</div>

		<!-- Complete -->
		<div class="table-responsive">
			<table class="table table-primary">
				<thead>
					<tr>
						<th scope="col">Activiteit</th>
						<th scope="col">---</th>
						<th scope="col">---</th>
					</tr>
				</thead>
				<tbody>
					<% contract_premium.forEach(activity => { %>
						<% activityTranslations.data.forEach(activityTranslation => { %>
							<% if (activity.activities_id === activityTranslation.id) { %>
								<tr class="">
									<td><%- activityTranslation.title %></td>
									<td>Tooltip</td>
									<% if (activity.charged_minutes === 0) { %>
										<td><img src="../icons/Check_icon.svg" alt="rondje met vinkje er in."></td>
									<% } else { %>
										<td><img src="../icons/X_icon.svg" alt="rondje met kruisje er in."></td>
									<% } %>
								</tr>
							<% } %>
						<% }) %>
					<% }) %>
				</tbody>
			</table>
		</div>
    </section>
</div>




<%- include("./partials/foot.ejs") %>